-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: catusnis_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `acquisitions`
--

DROP TABLE IF EXISTS `acquisitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `acquisitions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `deployed` bit(1) NOT NULL,
  `image` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `serial` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `tag` varchar(255) NOT NULL,
  `types_id` bigint NOT NULL,
  `date_acq` date DEFAULT NULL,
  `partner_id` bigint DEFAULT NULL,
  `is_deployed` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_acquisition_tag` (`tag`),
  UNIQUE KEY `uk_acquisition_serial` (`serial`),
  KEY `FKsgtbx9ysugpss85itmdx015f0` (`types_id`),
  KEY `FK19yt4clh9r3um75p6ws2tjgxb` (`partner_id`),
  CONSTRAINT `FK19yt4clh9r3um75p6ws2tjgxb` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`),
  CONSTRAINT `FKsgtbx9ysugpss85itmdx015f0` FOREIGN KEY (`types_id`) REFERENCES `types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acquisitions`
--

LOCK TABLES `acquisitions` WRITE;
/*!40000 ALTER TABLE `acquisitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `acquisitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appreciations`
--

DROP TABLE IF EXISTS `appreciations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appreciations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `appreciate_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhpxrhswkmk5ltodrj4sg86rlg` (`appreciate_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appreciations`
--

LOCK TABLES `appreciations` WRITE;
/*!40000 ALTER TABLE `appreciations` DISABLE KEYS */;
/*!40000 ALTER TABLE `appreciations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `apps`
--

DROP TABLE IF EXISTS `apps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `apps` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app_name` varchar(255) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apps`
--

LOCK TABLES `apps` WRITE;
/*!40000 ALTER TABLE `apps` DISABLE KEYS */;
INSERT INTO `apps` VALUES (1,'OpenELIS','bi-app-indicator','#616161','ccb342d1-ee46-4903-9206-f4aa7736e948.png'),(2,'LSTRACKER','bi-app-indicator','#103bbc','def6a7ac-2ebb-4d1b-8e0b-2f28eae39da9.png');
/*!40000 ALTER TABLE `apps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archives`
--

DROP TABLE IF EXISTS `archives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `archives` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `archived_at` datetime(6) DEFAULT NULL,
  `archived_by` varchar(255) DEFAULT NULL,
  `categorie` enum('INTERVENTION','DEPLOIEMENT','ACQUISITION','BOOKLET','ACTIVITE','AUTRE') NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(255) DEFAULT NULL,
  `related_code` varchar(255) DEFAULT NULL,
  `related_id` bigint DEFAULT NULL,
  `titre` varchar(255) NOT NULL,
  `type` enum('IMPRIME','SCANNE') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archives`
--

LOCK TABLES `archives` WRITE;
/*!40000 ALTER TABLE `archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booklet_statuses`
--

DROP TABLE IF EXISTS `booklet_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booklet_statuses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK2xs3wbeabkpvgajioutpt3sal` (`status_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booklet_statuses`
--

LOCK TABLES `booklet_statuses` WRITE;
/*!40000 ALTER TABLE `booklet_statuses` DISABLE KEYS */;
INSERT INTO `booklet_statuses` VALUES (4,'Actif'),(1,'AffectÔö£┬«'),(6,'En attente'),(5,'Inactif'),(3,'Pas en service'),(2,'RÔö£┬«affectÔö£┬«'),(7,'Suspendu');
/*!40000 ALTER TABLE `booklet_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booklets`
--

DROP TABLE IF EXISTS `booklets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booklets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contact` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `district_id` int DEFAULT NULL,
  `post_id` int DEFAULT NULL,
  `region_id` int DEFAULT NULL,
  `status_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjhrm63jblxvxwpybkpi6oh0uu` (`post_id`),
  KEY `fk_booklets_status` (`status_id`),
  CONSTRAINT `fk_booklets_status` FOREIGN KEY (`status_id`) REFERENCES `booklet_statuses` (`id`),
  CONSTRAINT `FKijegs79jpe6n8xq6vk9mw54pf` FOREIGN KEY (`status_id`) REFERENCES `booklet_statuses` (`id`),
  CONSTRAINT `FKjhrm63jblxvxwpybkpi6oh0uu` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booklets`
--

LOCK TABLES `booklets` WRITE;
/*!40000 ALTER TABLE `booklets` DISABLE KEYS */;
/*!40000 ALTER TABLE `booklets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deployment`
--

DROP TABLE IF EXISTS `deployment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deployment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code_dep` varchar(255) NOT NULL,
  `comment` varchar(255) NOT NULL,
  `date_recept` datetime(6) NOT NULL,
  `district_id` bigint NOT NULL,
  `health_id` bigint NOT NULL,
  `region_id` bigint NOT NULL,
  `apps_id` bigint NOT NULL,
  `created_by` bigint DEFAULT NULL,
  `date_recep` datetime(6) DEFAULT NULL,
  `partner_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKoi326n7ffyd9q203f6vlhmr74` (`created_by`),
  KEY `FKsg2vhd6wu0057fyvr2ittte8k` (`district_id`),
  KEY `FKn142fy08p3bpqcbbdhjwj3fqn` (`health_id`),
  KEY `FK7ea8d5lmjklqswhvlyiuq6qgl` (`region_id`),
  KEY `FKrq51w3clp8sty7uabsfy375v7` (`apps_id`),
  CONSTRAINT `FK7ea8d5lmjklqswhvlyiuq6qgl` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`),
  CONSTRAINT `FKn142fy08p3bpqcbbdhjwj3fqn` FOREIGN KEY (`health_id`) REFERENCES `health` (`id`),
  CONSTRAINT `FKoi326n7ffyd9q203f6vlhmr74` FOREIGN KEY (`created_by`) REFERENCES `person` (`id`),
  CONSTRAINT `FKrq51w3clp8sty7uabsfy375v7` FOREIGN KEY (`apps_id`) REFERENCES `apps` (`id`),
  CONSTRAINT `FKsg2vhd6wu0057fyvr2ittte8k` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deployment`
--

LOCK TABLES `deployment` WRITE;
/*!40000 ALTER TABLE `deployment` DISABLE KEYS */;
INSERT INTO `deployment` VALUES (13,'DEP-2026-4351','','2026-05-04 00:00:00.000000',98,3970,28,1,2,NULL,3),(18,'DEP-2026-1503','Equipement fonctionnel et remis au Biologiste BAMBA EDOUARD','2025-07-09 00:00:00.000000',95,3887,28,2,2,NULL,3);
/*!40000 ALTER TABLE `deployment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deployment_items`
--

DROP TABLE IF EXISTS `deployment_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deployment_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(255) NOT NULL,
  `acquisition_id` bigint NOT NULL,
  `deployment_id` bigint NOT NULL,
  `etat_avant` varchar(255) DEFAULT 'FONCTIONNEL',
  `etat_apres` varchar(255) DEFAULT NULL,
  `replacement_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKup9uncu0d4vg0rb2kef8vis3` (`acquisition_id`),
  KEY `FKs5xh4xcsn7q1wyouwd5g1x0gg` (`deployment_id`),
  KEY `fk_deployment_item_replacement` (`replacement_id`),
  CONSTRAINT `fk_deployment_item_replacement` FOREIGN KEY (`replacement_id`) REFERENCES `acquisitions` (`id`),
  CONSTRAINT `FKs5xh4xcsn7q1wyouwd5g1x0gg` FOREIGN KEY (`deployment_id`) REFERENCES `deployment` (`id`),
  CONSTRAINT `FKup9uncu0d4vg0rb2kef8vis3` FOREIGN KEY (`acquisition_id`) REFERENCES `acquisitions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deployment_items`
--

LOCK TABLES `deployment_items` WRITE;
/*!40000 ALTER TABLE `deployment_items` DISABLE KEYS */;
INSERT INTO `deployment_items` VALUES (153,'FONCTIONNEL',131,13,'DEGRADE','FONCTIONNEL',NULL),(154,'FONCTIONNEL',133,18,NULL,NULL,NULL);
/*!40000 ALTER TABLE `deployment_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `districts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `district_name` varchar(255) NOT NULL,
  `region_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKtg2xciun6nr44x122k273u59a` (`region_id`),
  CONSTRAINT `FKtg2xciun6nr44x122k273u59a` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluations`
--

DROP TABLE IF EXISTS `evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `evl_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKf26jcivtd2efhkmhr8420jy7f` (`evl_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluations`
--

LOCK TABLES `evaluations` WRITE;
/*!40000 ALTER TABLE `evaluations` DISABLE KEYS */;
INSERT INTO `evaluations` VALUES (2,'Bon'),(1,'Excellent'),(5,'Insuffisant'),(8,'Non satisfaisant'),(4,'Passable'),(7,'Peu satisfaisant'),(3,'Satisfaisant'),(6,'Tr├¿s satisfaisant');
/*!40000 ALTER TABLE `evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fourniture_deploiements`
--

DROP TABLE IF EXISTS `fourniture_deploiements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fourniture_deploiements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `date_deploiement` date NOT NULL,
  `motif` varchar(500) DEFAULT NULL,
  `notes` text,
  `quantite_deployee` int NOT NULL,
  `booklet_id` bigint DEFAULT NULL,
  `district_id` int DEFAULT NULL,
  `fourniture_id` int NOT NULL,
  `person_id` int DEFAULT NULL,
  `region_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK66ruja7fslaovn6cab34wrb0o` (`booklet_id`),
  KEY `FKbgrecqiubsxxeryo0mgw3iwsq` (`fourniture_id`),
  KEY `FKiklth731d0cjlyqyx7239qxva` (`person_id`),
  CONSTRAINT `FK66ruja7fslaovn6cab34wrb0o` FOREIGN KEY (`booklet_id`) REFERENCES `booklets` (`id`),
  CONSTRAINT `FKbgrecqiubsxxeryo0mgw3iwsq` FOREIGN KEY (`fourniture_id`) REFERENCES `fournitures` (`id`),
  CONSTRAINT `FKiklth731d0cjlyqyx7239qxva` FOREIGN KEY (`person_id`) REFERENCES `persons` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fourniture_deploiements`
--

LOCK TABLES `fourniture_deploiements` WRITE;
/*!40000 ALTER TABLE `fourniture_deploiements` DISABLE KEYS */;
/*!40000 ALTER TABLE `fourniture_deploiements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournitures`
--

DROP TABLE IF EXISTS `fournitures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournitures` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `designation` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `categorie` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantite` int NOT NULL DEFAULT '0',
  `quantite_disponible` int NOT NULL DEFAULT '0',
  `unite` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'PiÔö£┬┐ce',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `date_acquisition` date DEFAULT NULL,
  `fournisseur` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prix_unitaire` double DEFAULT NULL,
  `statut` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'DISPONIBLE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `partner_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_fournitures_statut` (`statut`),
  KEY `idx_fournitures_categorie` (`categorie`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournitures`
--

LOCK TABLES `fournitures` WRITE;
/*!40000 ALTER TABLE `fournitures` DISABLE KEYS */;
/*!40000 ALTER TABLE `fournitures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `health`
--

DROP TABLE IF EXISTS `health`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `health` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `health_name` varchar(255) NOT NULL,
  `district_id` bigint NOT NULL,
  `region_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjk3wmm0m3xyhksgvvf5w54cmy` (`district_id`),
  KEY `FKqx1hsjy5ym0jloo0bfrmdqppo` (`region_id`),
  CONSTRAINT `FKjk3wmm0m3xyhksgvvf5w54cmy` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`),
  CONSTRAINT `FKqx1hsjy5ym0jloo0bfrmdqppo` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4644 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `health`
--

LOCK TABLES `health` WRITE;
/*!40000 ALTER TABLE `health` DISABLE KEYS */;
/*!40000 ALTER TABLE `health` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `images`
--

DROP TABLE IF EXISTS `images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `images` (
  `id` int NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `label` varchar(255) NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKtg7pdrgs8dqm1xab6c8rxsw4l` (`file_name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `images`
--

LOCK TABLES `images` WRITE;
/*!40000 ALTER TABLE `images` DISABLE KEYS */;
/*!40000 ALTER TABLE `images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervention`
--

DROP TABLE IF EXISTS `intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intervention` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code_inter` varchar(255) NOT NULL,
  `type_inter` varchar(255) NOT NULL,
  `action_inter` varchar(255) NOT NULL,
  `region_id` bigint NOT NULL,
  `district_id` bigint NOT NULL,
  `health_id` bigint NOT NULL,
  `deployment_id` bigint NOT NULL,
  `apps_id` bigint NOT NULL,
  `types_id` bigint NOT NULL,
  `technician_id` bigint NOT NULL,
  `person_id` bigint DEFAULT NULL,
  `date_intervention` datetime(6) NOT NULL,
  `duration_minutes` int NOT NULL,
  `appreciation_id` bigint DEFAULT NULL,
  `evaluation_id` bigint NOT NULL,
  `comment_intervention` varchar(255) NOT NULL,
  `document_path` varchar(255) DEFAULT NULL,
  `en_attente_maintenance` bit(1) DEFAULT NULL,
  `booklet_id` bigint DEFAULT NULL,
  `comment_inter` varchar(255) DEFAULT NULL,
  `date_inter` datetime(6) DEFAULT NULL,
  `partner_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_inter` (`code_inter`),
  KEY `appreciation_id` (`appreciation_id`),
  KEY `FKfhb1hbifsls5oxo9e2pmbvrg6` (`apps_id`),
  KEY `FKsgbx4lhdhll9kcnaqmgjdhat0` (`deployment_id`),
  KEY `FK5fmt9cyqn3qtu6qj832dtpt1r` (`district_id`),
  KEY `FKq08wbn2hgart30bnfy8curxuj` (`evaluation_id`),
  KEY `FKjdx3prtp412jc9rrf90givpxq` (`health_id`),
  KEY `FK74bwm5p2wvdlakq4c0tjsa9iw` (`person_id`),
  KEY `FK9223w4v244x9dl7lf9hy3kfx7` (`region_id`),
  KEY `FKbe4cg6o9empuxas3hqve26pjp` (`technician_id`),
  KEY `FKbkd6wcx55n56p7bc62y0mq51d` (`types_id`),
  KEY `FK958hwsf4q80yltnilst4e6aoi` (`booklet_id`),
  CONSTRAINT `FK5fmt9cyqn3qtu6qj832dtpt1r` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`),
  CONSTRAINT `FK74bwm5p2wvdlakq4c0tjsa9iw` FOREIGN KEY (`person_id`) REFERENCES `person` (`id`),
  CONSTRAINT `FK9223w4v244x9dl7lf9hy3kfx7` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`),
  CONSTRAINT `FK958hwsf4q80yltnilst4e6aoi` FOREIGN KEY (`booklet_id`) REFERENCES `booklets` (`id`),
  CONSTRAINT `fk_intervention_booklet` FOREIGN KEY (`booklet_id`) REFERENCES `booklet` (`id`),
  CONSTRAINT `FKbe4cg6o9empuxas3hqve26pjp` FOREIGN KEY (`technician_id`) REFERENCES `person` (`id`),
  CONSTRAINT `FKbkd6wcx55n56p7bc62y0mq51d` FOREIGN KEY (`types_id`) REFERENCES `types` (`id`),
  CONSTRAINT `FKfhb1hbifsls5oxo9e2pmbvrg6` FOREIGN KEY (`apps_id`) REFERENCES `apps` (`id`),
  CONSTRAINT `FKjdx3prtp412jc9rrf90givpxq` FOREIGN KEY (`health_id`) REFERENCES `health` (`id`),
  CONSTRAINT `FKq08wbn2hgart30bnfy8curxuj` FOREIGN KEY (`evaluation_id`) REFERENCES `evaluation` (`id`),
  CONSTRAINT `FKsgbx4lhdhll9kcnaqmgjdhat0` FOREIGN KEY (`deployment_id`) REFERENCES `deployment` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervention`
--

LOCK TABLES `intervention` WRITE;
/*!40000 ALTER TABLE `intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partners`
--

DROP TABLE IF EXISTS `partners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partners` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `partner_name` varchar(255) NOT NULL,
  `logo` varchar(255) DEFAULT 'bi-building',
  `color` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcv5cenrt5goits0y9f55f3ulk` (`partner_name`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partners`
--

LOCK TABLES `partners` WRITE;
/*!40000 ALTER TABLE `partners` DISABLE KEYS */;
INSERT INTO `partners` VALUES (1,'FM','bi-asterisk','#e53935','7ec49356-d66a-4be9-a88e-a776dfcd19e2.png'),(2,'CDC','bi-globe2','#1565c0','d0180ab4-e794-4ad8-b0d6-b4068e1cd872.png'),(3,'UNICEF','bi-shield-check','#07a1e4','9bede05f-be71-4246-9d59-8844256e24a4.png'),(17,'ITECH-CIV','bi-globe','#07a1e4','8c76aae8-ac53-4a1d-94c3-58248644889b.png'),(19,'SEV-CI','bi-globe','#0ba6f4','6ea34be9-04cf-4e05-8f33-611a3e18c9d4.jpeg'),(20,'ACONDA-VS','bi-globe','#07a1e4','bdc39d3f-dda0-4b0a-8197-b1c6efa5cf1d.jpeg');
/*!40000 ALTER TABLE `partners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persons`
--

DROP TABLE IF EXISTS `persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persons` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contact` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','SUPER_ADMIN','TECHNICIEN','USER') NOT NULL,
  `partner_id` bigint DEFAULT NULL,
  `post_id` int DEFAULT NULL,
  `units_id` bigint DEFAULT NULL,
  `plain_password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK1x5aosta48fbss4d5b3kuu0rd` (`email`),
  KEY `FKr80fnt72ghfqkyp5r3uannkcb` (`post_id`),
  KEY `FKqg5hd2g6bunl9cm0by22wla4w` (`partner_id`),
  KEY `FKe67j018dt4r9bdarg2fvnic0p` (`units_id`),
  CONSTRAINT `FKe67j018dt4r9bdarg2fvnic0p` FOREIGN KEY (`units_id`) REFERENCES `units` (`id`),
  CONSTRAINT `FKqg5hd2g6bunl9cm0by22wla4w` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`),
  CONSTRAINT `FKr80fnt72ghfqkyp5r3uannkcb` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persons`
--

LOCK TABLES `persons` WRITE;
/*!40000 ALTER TABLE `persons` DISABLE KEYS */;
/*!40000 ALTER TABLE `persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `post_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKp2vwr0ok9me7n9ao3wj9gu3st` (`post_name`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
INSERT INTO `posts` VALUES (4,'Administrateur'),(2,'BIOLOGISTE'),(1,'CONVOYEUR'),(13,'Directeur '),(12,'Directeur d├®partemental'),(11,'Directeur r├®gional'),(9,'Infirmier'),(3,'INFORMATICIEN'),(8,'M├®decin'),(7,'M├®decin-chef'),(10,'Sage-Femme'),(5,'Technicien Laboratoire'),(6,'Utilisateur');
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `regions`
--

DROP TABLE IF EXISTS `regions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `region_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `regions`
--

LOCK TABLES `regions` WRITE;
/*!40000 ALTER TABLE `regions` DISABLE KEYS */;
INSERT INTO `regions` VALUES (1,'ABIDJAN 1'),(2,'ABIDJAN 2'),(3,'AGNEBY-TIASSA'),(4,'BAFING'),(5,'BAGOUE'),(6,'BELIER'),(7,'BERE'),(8,'BOUNKANI'),(9,'CAVALLY'),(10,'FOLON'),(11,'GBEKE'),(12,'GBOKLE'),(13,'GONTOUGO'),(14,'GRANDS PONTS'),(15,'GUEMON'),(16,'G├öH'),(17,'HAMBOL'),(18,'HAUT SASSANDRA'),(19,'IFFOU'),(20,'INDENIE-DUABLIN'),(21,'KABADOUGOU'),(22,'L├öH-DJIBOUA'),(23,'MARAHOUE'),(24,'ME'),(25,'MORONOU'),(26,'N\'ZI'),(27,'NAWA'),(28,'PORO'),(29,'SAN PEDRO'),(30,'SUD-COMOE'),(31,'TCHOLOGO'),(32,'TONKPI'),(33,'WORODOUGOU');
/*!40000 ALTER TABLE `regions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `states`
--

DROP TABLE IF EXISTS `states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `states` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `states_names` varchar(255) NOT NULL,
  `states_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK9df9binxnbl837k5r7rsh10f9` (`states_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `states`
--

LOCK TABLES `states` WRITE;
/*!40000 ALTER TABLE `states` DISABLE KEYS */;
/*!40000 ALTER TABLE `states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `technician_sites`
--

DROP TABLE IF EXISTS `technician_sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `technician_sites` (
  `id` int NOT NULL AUTO_INCREMENT,
  `district_id` bigint DEFAULT NULL,
  `health_id` int DEFAULT NULL,
  `person_id` int DEFAULT NULL,
  `region_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm7km97xeej44mjgni3qru3t3m` (`health_id`),
  KEY `FKrx4iljfas6a0byw4ywofcdqxo` (`person_id`),
  KEY `FKmgkg0cgpegp8igj30qpcpi5qi` (`district_id`),
  KEY `FK9kk9rrcxnex56v9ad5imigb94` (`region_id`),
  CONSTRAINT `FK9kk9rrcxnex56v9ad5imigb94` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`),
  CONSTRAINT `FKm7km97xeej44mjgni3qru3t3m` FOREIGN KEY (`health_id`) REFERENCES `health_sites` (`id`),
  CONSTRAINT `FKmgkg0cgpegp8igj30qpcpi5qi` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`),
  CONSTRAINT `FKrx4iljfas6a0byw4ywofcdqxo` FOREIGN KEY (`person_id`) REFERENCES `persons` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `technician_sites`
--

LOCK TABLES `technician_sites` WRITE;
/*!40000 ALTER TABLE `technician_sites` DISABLE KEYS */;
INSERT INTO `technician_sites` VALUES (1,NULL,8,10,NULL),(2,NULL,9,10,NULL),(3,NULL,1,11,NULL),(4,NULL,2,11,NULL),(5,NULL,3,11,NULL),(6,NULL,4,11,NULL);
/*!40000 ALTER TABLE `technician_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `types`
--

DROP TABLE IF EXISTS `types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `types` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(255) DEFAULT NULL,
  `marque` varchar(255) DEFAULT NULL,
  `modele` varchar(255) DEFAULT NULL,
  `type_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=191 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `types`
--

LOCK TABLES `types` WRITE;
/*!40000 ALTER TABLE `types` DISABLE KEYS */;
/*!40000 ALTER TABLE `types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `unit_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
INSERT INTO `units` VALUES (1,'Direction'),(2,'Informatique'),(3,'SantÔö£┬«'),(4,'LIS');
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicule_affectations`
--

DROP TABLE IF EXISTS `vehicule_affectations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicule_affectations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `date_affectation` date NOT NULL,
  `date_retour` date DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  `observations` varchar(255) DEFAULT NULL,
  `district_id` bigint DEFAULT NULL,
  `person_id` int DEFAULT NULL,
  `region_id` bigint DEFAULT NULL,
  `vehicule_id` int NOT NULL,
  `booklet_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6ostdi1q61eq5d0oe1kidfsif` (`person_id`),
  KEY `FKlvwrq04sgkalxn20bvsgdiooj` (`vehicule_id`),
  KEY `FKqvvvomqmenmvdh4px518pkt9e` (`district_id`),
  KEY `FK738ukgipq9gfyk1aeg9gw1etp` (`region_id`),
  KEY `booklet_id` (`booklet_id`),
  CONSTRAINT `FK6ostdi1q61eq5d0oe1kidfsif` FOREIGN KEY (`person_id`) REFERENCES `persons` (`id`),
  CONSTRAINT `FK738ukgipq9gfyk1aeg9gw1etp` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`),
  CONSTRAINT `FKlvwrq04sgkalxn20bvsgdiooj` FOREIGN KEY (`vehicule_id`) REFERENCES `vehicules` (`id`),
  CONSTRAINT `FKqvvvomqmenmvdh4px518pkt9e` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`),
  CONSTRAINT `vehicule_affectations_ibfk_1` FOREIGN KEY (`booklet_id`) REFERENCES `booklets` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicule_affectations`
--

LOCK TABLES `vehicule_affectations` WRITE;
/*!40000 ALTER TABLE `vehicule_affectations` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_affectations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicule_document_historiques`
--

DROP TABLE IF EXISTS `vehicule_document_historiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicule_document_historiques` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `vehicule_id` int NOT NULL,
  `type_document` varchar(255) NOT NULL,
  `ancienne_date_debut` date DEFAULT NULL,
  `ancienne_date_fin` date DEFAULT NULL,
  `nouvelle_date_debut` date NOT NULL,
  `nouvelle_date_fin` date NOT NULL,
  `date_renouvellement` date NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_vdh_vehicule` (`vehicule_id`),
  CONSTRAINT `fk_vdh_vehicule` FOREIGN KEY (`vehicule_id`) REFERENCES `vehicules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicule_document_historiques`
--

LOCK TABLES `vehicule_document_historiques` WRITE;
/*!40000 ALTER TABLE `vehicule_document_historiques` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_document_historiques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicule_incidents`
--

DROP TABLE IF EXISTS `vehicule_incidents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicule_incidents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cout_estime` double DEFAULT NULL,
  `date_incident` datetime(6) NOT NULL,
  `description` varchar(255) NOT NULL,
  `lieu_incident` varchar(255) DEFAULT NULL,
  `observations` varchar(255) DEFAULT NULL,
  `signale_par` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `type_incident` varchar(255) DEFAULT NULL,
  `vehicule_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcrlkpkjh3vtpgi2bhlkbve5a8` (`vehicule_id`),
  CONSTRAINT `FKcrlkpkjh3vtpgi2bhlkbve5a8` FOREIGN KEY (`vehicule_id`) REFERENCES `vehicules` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicule_incidents`
--

LOCK TABLES `vehicule_incidents` WRITE;
/*!40000 ALTER TABLE `vehicule_incidents` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_incidents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicule_maintenances`
--

DROP TABLE IF EXISTS `vehicule_maintenances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicule_maintenances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cout_reel` double DEFAULT NULL,
  `date_maintenance` datetime(6) NOT NULL,
  `description` varchar(255) NOT NULL,
  `kilometrage_intervention` int DEFAULT NULL,
  `observations` varchar(255) DEFAULT NULL,
  `prestataire` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `type_maintenance` varchar(255) DEFAULT NULL,
  `vehicule_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKli9ejy0uo1a0hyy644yrf1c0` (`vehicule_id`),
  CONSTRAINT `FKli9ejy0uo1a0hyy644yrf1c0` FOREIGN KEY (`vehicule_id`) REFERENCES `vehicules` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicule_maintenances`
--

LOCK TABLES `vehicule_maintenances` WRITE;
/*!40000 ALTER TABLE `vehicule_maintenances` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_maintenances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicules`
--

DROP TABLE IF EXISTS `vehicules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `couleur` varchar(255) DEFAULT NULL,
  `date_acquisition` date DEFAULT NULL,
  `date_assurance` date DEFAULT NULL,
  `date_fin_assurance` date DEFAULT NULL,
  `date_fin_vignette` date DEFAULT NULL,
  `date_fin_visite_technique` date DEFAULT NULL,
  `date_vignette` date DEFAULT NULL,
  `date_visite_technique` date DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `immatriculation` varchar(255) NOT NULL,
  `kilometrage` int DEFAULT NULL,
  `marque` varchar(255) DEFAULT NULL,
  `modele` varchar(255) DEFAULT NULL,
  `numero_carte_grise` varchar(255) DEFAULT NULL,
  `observations` varchar(255) DEFAULT NULL,
  `statut` enum('DISPONIBLE','EN_MAINTENANCE','EN_MISSION','EN_PANNE','REMIS','RETIRE') DEFAULT NULL,
  `type` enum('AUTRE','CAMION','MINIBUS','MOTO','VOITURE') NOT NULL,
  `conducteur_id` int DEFAULT NULL,
  `district_id` bigint DEFAULT NULL,
  `region_id` bigint DEFAULT NULL,
  `prix_achat` double DEFAULT NULL,
  `fournisseur` varchar(255) DEFAULT NULL,
  `mode_financement` varchar(255) DEFAULT NULL,
  `numero_bon_commande` varchar(255) DEFAULT NULL,
  `source_financement` varchar(255) DEFAULT NULL,
  `conducteur_booklet_id` bigint DEFAULT NULL,
  `partner_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK77hmgqa9jiislwjo63bn093rf` (`immatriculation`),
  KEY `FK4gisacpb5yoblsivmprjo6l8j` (`conducteur_id`),
  KEY `FK6cmjbq7ip1e3jnvtqhakj1yt4` (`district_id`),
  KEY `FKaw4n4cl5jtjau378v215lborw` (`region_id`),
  KEY `conducteur_booklet_id` (`conducteur_booklet_id`),
  CONSTRAINT `FK4gisacpb5yoblsivmprjo6l8j` FOREIGN KEY (`conducteur_id`) REFERENCES `persons` (`id`),
  CONSTRAINT `FK6cmjbq7ip1e3jnvtqhakj1yt4` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`),
  CONSTRAINT `FKaw4n4cl5jtjau378v215lborw` FOREIGN KEY (`region_id`) REFERENCES `regions` (`id`),
  CONSTRAINT `vehicules_ibfk_1` FOREIGN KEY (`conducteur_booklet_id`) REFERENCES `booklets` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicules`
--

LOCK TABLES `vehicules` WRITE;
/*!40000 ALTER TABLE `vehicules` DISABLE KEYS */;
INSERT INTO `vehicules` VALUES (1,'Rouge','2024-05-07','2025-03-12','2026-03-13','2026-03-12','2025-10-21','2025-03-11','2024-12-05',NULL,'AA-741-FL-01',100,'APSONIC',NULL,'CG110609525',NULL,'DISPONIBLE','MOTO',NULL,3,1,NULL,NULL,NULL,NULL,NULL,4,17),(2,'Rouge','2025-05-07','2025-04-12','2026-04-13','2026-03-12','2025-10-21','2025-03-11','2024-10-21',NULL,'AA-738-FL-01',NULL,'APSONIC',NULL,'CG10609523',NULL,'DISPONIBLE','MOTO',NULL,2,1,NULL,NULL,NULL,NULL,NULL,3,17);
/*!40000 ALTER TABLE `vehicules` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01  2:29:32
