-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: catusnis_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `acquisitions`
--

LOCK TABLES `acquisitions` WRITE;
/*!40000 ALTER TABLE `acquisitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `acquisitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `appreciation`
--

LOCK TABLES `appreciation` WRITE;
/*!40000 ALTER TABLE `appreciation` DISABLE KEYS */;
/*!40000 ALTER TABLE `appreciation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `appreciations`
--

LOCK TABLES `appreciations` WRITE;
/*!40000 ALTER TABLE `appreciations` DISABLE KEYS */;
/*!40000 ALTER TABLE `appreciations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `apps`
--

LOCK TABLES `apps` WRITE;
/*!40000 ALTER TABLE `apps` DISABLE KEYS */;
INSERT INTO `apps` VALUES (1,'OpenELIS','bi-app-indicator','#616161','ccb342d1-ee46-4903-9206-f4aa7736e948.png'),(2,'LSTRACKER','bi-app-indicator','#103bbc','def6a7ac-2ebb-4d1b-8e0b-2f28eae39da9.png');
/*!40000 ALTER TABLE `apps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `archives`
--

LOCK TABLES `archives` WRITE;
/*!40000 ALTER TABLE `archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `booklet`
--

LOCK TABLES `booklet` WRITE;
/*!40000 ALTER TABLE `booklet` DISABLE KEYS */;
/*!40000 ALTER TABLE `booklet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `booklet_status`
--

LOCK TABLES `booklet_status` WRITE;
/*!40000 ALTER TABLE `booklet_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `booklet_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `booklet_statuses`
--

LOCK TABLES `booklet_statuses` WRITE;
/*!40000 ALTER TABLE `booklet_statuses` DISABLE KEYS */;
INSERT INTO `booklet_statuses` VALUES (4,'Actif'),(1,'AffectÔö£┬«'),(6,'En attente'),(5,'Inactif'),(3,'Pas en service'),(2,'RÔö£┬«affectÔö£┬«'),(7,'Suspendu');
/*!40000 ALTER TABLE `booklet_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `booklets`
--

LOCK TABLES `booklets` WRITE;
/*!40000 ALTER TABLE `booklets` DISABLE KEYS */;
/*!40000 ALTER TABLE `booklets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deployment`
--

LOCK TABLES `deployment` WRITE;
/*!40000 ALTER TABLE `deployment` DISABLE KEYS */;
INSERT INTO `deployment` VALUES (13,'DEP-2026-4351','','2026-05-04 00:00:00.000000',98,3970,28,1,2,NULL,3);
/*!40000 ALTER TABLE `deployment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deployment_items`
--

LOCK TABLES `deployment_items` WRITE;
/*!40000 ALTER TABLE `deployment_items` DISABLE KEYS */;
INSERT INTO `deployment_items` VALUES (153,'FONCTIONNEL',131,13,'DEGRADE','FONCTIONNEL',NULL);
/*!40000 ALTER TABLE `deployment_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deployments`
--

LOCK TABLES `deployments` WRITE;
/*!40000 ALTER TABLE `deployments` DISABLE KEYS */;
INSERT INTO `deployments` VALUES (1,'DEP-MBENGUE-2025-001','Bon de sortie 25/09/2025 ├ö├ç├Â EPHD de M\'BENGUE. 3 Ôö£┬«crans HP, 3 postes HP, 2 onduleurs APC 650, 2 clÔö£┬«s WiFi TP-Link, 1 routeur TL-MR3420, 1 imprimante HP M211d, 2 multiprises APC.','2025-09-25 00:00:00.000000',NULL,NULL,97,3948,28,3);
/*!40000 ALTER TABLE `deployments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `evaluation`
--

LOCK TABLES `evaluation` WRITE;
/*!40000 ALTER TABLE `evaluation` DISABLE KEYS */;
INSERT INTO `evaluation` VALUES (1,'TrÔö£┬┐s satisfaisant'),(2,'Satisfaisant'),(3,'Peu satisfaisant'),(4,'Non satisfaisant');
/*!40000 ALTER TABLE `evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `evaluations`
--

LOCK TABLES `evaluations` WRITE;
/*!40000 ALTER TABLE `evaluations` DISABLE KEYS */;
INSERT INTO `evaluations` VALUES (2,'Bon'),(1,'Excellent'),(5,'Insuffisant'),(4,'Passable'),(3,'Satisfaisant');
/*!40000 ALTER TABLE `evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fourniture_deploiements`
--

LOCK TABLES `fourniture_deploiements` WRITE;
/*!40000 ALTER TABLE `fourniture_deploiements` DISABLE KEYS */;
/*!40000 ALTER TABLE `fourniture_deploiements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fournitures`
--

LOCK TABLES `fournitures` WRITE;
/*!40000 ALTER TABLE `fournitures` DISABLE KEYS */;
/*!40000 ALTER TABLE `fournitures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `health`
--

LOCK TABLES `health` WRITE;
/*!40000 ALTER TABLE `health` DISABLE KEYS */;
/*!40000 ALTER TABLE `health` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `health_sites`
--

LOCK TABLES `health_sites` WRITE;
/*!40000 ALTER TABLE `health_sites` DISABLE KEYS */;
/*!40000 ALTER TABLE `health_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `images`
--

LOCK TABLES `images` WRITE;
/*!40000 ALTER TABLE `images` DISABLE KEYS */;
/*!40000 ALTER TABLE `images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `intervention`
--

LOCK TABLES `intervention` WRITE;
/*!40000 ALTER TABLE `intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `interventions`
--

LOCK TABLES `interventions` WRITE;
/*!40000 ALTER TABLE `interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `partners`
--

LOCK TABLES `partners` WRITE;
/*!40000 ALTER TABLE `partners` DISABLE KEYS */;
INSERT INTO `partners` VALUES (1,'FM','bi-asterisk','#e53935','7ec49356-d66a-4be9-a88e-a776dfcd19e2.png'),(2,'CDC','bi-globe2','#1565c0','d0180ab4-e794-4ad8-b0d6-b4068e1cd872.png'),(3,'UNICEF','bi-shield-check','#07a1e4','9bede05f-be71-4246-9d59-8844256e24a4.png'),(17,'ITECH-CIV','bi-globe','#07a1e4','8c76aae8-ac53-4a1d-94c3-58248644889b.png'),(19,'SEV-CI','bi-globe','#0ba6f4','6ea34be9-04cf-4e05-8f33-611a3e18c9d4.jpeg'),(20,'ACONDA-VS','bi-globe','#07a1e4','bdc39d3f-dda0-4b0a-8197-b1c6efa5cf1d.jpeg');
/*!40000 ALTER TABLE `partners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `persons`
--

LOCK TABLES `persons` WRITE;
/*!40000 ALTER TABLE `persons` DISABLE KEYS */;
INSERT INTO `persons` VALUES (2,'0564840685','superadmin@catusnis.ci','Super','Admin','$2a$10$eYiikROt4wGhyb18A5SBdunRjP8Pve/3FhHpBFSKOTBTosm0DHprC','SUPER_ADMIN',17,3,2,NULL);
/*!40000 ALTER TABLE `persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
INSERT INTO `post` VALUES (1,'Administrateur'),(2,'Technicien Laboratoire'),(3,'Utilisateur'),(4,'Convoyeur'),(5,'MÔö£┬«decin-chef'),(6,'MÔö£┬«decin'),(7,'Infirmier'),(8,'Sage-Femme'),(9,'Directeur rÔö£┬«gional'),(10,'Directeur dÔö£┬«partemental'),(11,'Directeur '),(12,'Informaticien');
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
INSERT INTO `posts` VALUES (2,'BIOLOGISTE'),(1,'CONVOYEUR'),(3,'INFORMATICIEN');
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `regions`
--

LOCK TABLES `regions` WRITE;
/*!40000 ALTER TABLE `regions` DISABLE KEYS */;
INSERT INTO `regions` VALUES (1,'ABIDJAN 1'),(2,'ABIDJAN 2'),(3,'AGNEBY-TIASSA'),(4,'BAFING'),(5,'BAGOUE'),(6,'BELIER'),(7,'BERE'),(8,'BOUNKANI'),(9,'CAVALLY'),(10,'FOLON'),(11,'GBEKE'),(12,'GBOKLE'),(13,'GONTOUGO'),(14,'GRANDS PONTS'),(15,'GUEMON'),(16,'GÔö£├ÂH'),(17,'HAMBOL'),(18,'HAUT SASSANDRA'),(19,'IFFOU'),(20,'INDENIE-DUABLIN'),(21,'KABADOUGOU'),(22,'LÔö£├ÂH-DJIBOUA'),(23,'MARAHOUE'),(24,'ME'),(25,'MORONOU'),(26,'N\'ZI'),(27,'NAWA'),(28,'PORO'),(29,'SAN PEDRO'),(30,'SUD-COMOE'),(31,'TCHOLOGO'),(32,'TONKPI'),(33,'WORODOUGOU');
/*!40000 ALTER TABLE `regions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `states`
--

LOCK TABLES `states` WRITE;
/*!40000 ALTER TABLE `states` DISABLE KEYS */;
/*!40000 ALTER TABLE `states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `technician_site`
--

LOCK TABLES `technician_site` WRITE;
/*!40000 ALTER TABLE `technician_site` DISABLE KEYS */;
INSERT INTO `technician_site` VALUES (1,10,1,3,9,'2026-03-27 16:00:04'),(2,10,1,3,8,'2026-03-29 11:01:52'),(3,11,1,1,4,'2026-03-29 11:02:27'),(4,11,1,1,1,'2026-03-29 11:02:27'),(5,11,1,1,2,'2026-03-29 11:02:27'),(6,11,1,1,3,'2026-03-29 11:02:27');
/*!40000 ALTER TABLE `technician_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `technician_sites`
--

LOCK TABLES `technician_sites` WRITE;
/*!40000 ALTER TABLE `technician_sites` DISABLE KEYS */;
/*!40000 ALTER TABLE `technician_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `types`
--

LOCK TABLES `types` WRITE;
/*!40000 ALTER TABLE `types` DISABLE KEYS */;
/*!40000 ALTER TABLE `types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
INSERT INTO `units` VALUES (1,'Direction'),(2,'Informatique'),(3,'SantÔö£┬«'),(4,'LIS');
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicule_affectations`
--

LOCK TABLES `vehicule_affectations` WRITE;
/*!40000 ALTER TABLE `vehicule_affectations` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_affectations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicule_document_historiques`
--

LOCK TABLES `vehicule_document_historiques` WRITE;
/*!40000 ALTER TABLE `vehicule_document_historiques` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_document_historiques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicule_incidents`
--

LOCK TABLES `vehicule_incidents` WRITE;
/*!40000 ALTER TABLE `vehicule_incidents` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_incidents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicule_maintenances`
--

LOCK TABLES `vehicule_maintenances` WRITE;
/*!40000 ALTER TABLE `vehicule_maintenances` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicule_maintenances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicules`
--

LOCK TABLES `vehicules` WRITE;
/*!40000 ALTER TABLE `vehicules` DISABLE KEYS */;
INSERT INTO `vehicules` VALUES (1,'Rouge','2024-05-07','2025-03-12','2026-03-13','2026-03-12','2025-10-21','2025-03-11','2024-12-05',NULL,'AA-741-FL-01',100,'APSONIC',NULL,'CG110609525','Moto en attente de renouvellement des piÔö£┬┐ces','DISPONIBLE','MOTO',NULL,3,1,NULL,NULL,NULL,NULL,NULL,4,17),(2,'Rouge','2025-05-07','2025-04-12','2026-04-13','2026-03-12','2025-10-21','2025-03-11','2024-10-21',NULL,'AA-738-FL-01',NULL,'APSONIC',NULL,'CG10609523','Moto en attente de renouvelle des piÔö£┬┐ces ','DISPONIBLE','MOTO',NULL,2,1,NULL,NULL,NULL,NULL,NULL,3,17);
/*!40000 ALTER TABLE `vehicules` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-21 18:17:05
